<!DOCTYPE html>
<html>  
    <head th:replace="~{layout/plantilla :: head}">
        <title>Carrito</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section class="text-center py-3">
            <h1 class="fw-bold text-dark display-4 position-relative d-inline-block">
                Carrito de compras
                <span class="d-block mx-auto mt-2" style="width: 80px; height: 4px; background-color: #FF0000;"></span>
            </h1>
        </section>


        <section style="background-color: #222; color: white; padding: 20px; border-radius: 5px; margin: 20px auto; width: 80%;">
            <h3 style="text-align: left;">MI CARRITO DE COMPRAS</h3>
            <div class="producto-carrito" style="display: flex; justify-content: space-between; align-items: center; background-color: #333; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                <img src="img/salchichon.jpg" width="80" alt="Producto 1"/>
                <span>Salchichón con Chile</span>
                <span>₡2500</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="producto-carrito" style="display: flex; justify-content: space-between; align-items: center; background-color: #333; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                <img src="img/queso.jpg" width="80" alt="Producto 2"/>
                <span>Queso Amarillo</span>
                <span>₡4000</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="producto-carrito" style="display: flex; justify-content: space-between; align-items: center; background-color: #333; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                <img src="img/higado.jpg" width="80" alt="Producto 3"/>
                <span>Hígado</span>
                <span>₡17.500</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <button style="background-color: red; color: white; padding: 10px 20px; border: none; font-size: 18px; cursor: pointer; width: 100%;">PAGAR</button>
        </section>

        <section th:replace="~{layout/plantilla :: footer}"></section>
    </body>
</html>
