<!DOCTYPE html>
<!--Etiquetas para paginas dinámicas-->
<html  
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">

        <title>Distribuidora Hikisa</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" size="16x16" href="/logo/Logo 16x16.png"/>
        <link rel="icon" type="image/png" size="32x32" href="/logo/Logo 32x32.jpeg"/>
        <link rel="icon" type="image/png" size="96x96" href="/logo/Logo 96x96.jpeg"/>
        <link rel="icon" type="image/png" size="256x256" href="/logo/Logo 256x256.jpeg"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm bg-dark shadow p-2" style="border-bottom: 3px solid #FF0000;">
                <div class="container">
                    <!-- Logo -->
                    <a th:href="@{/}" class="navbar-brand text-white fw-bold">[[#{aplicacion.titulo}]]</a>
                    
                    <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="nav-item px-3"><a class="nav-link text-danger fw-bold hover-white" th:href="@{/categoria/categorias}">Categorías</a></li>
                            <li class="nav-item px-3"><a class="nav-link text-danger fw-bold hover-white" th:href="@{/productos/listado}">[[#{plantilla.productos}]]</a></li>
                            <li class="nav-item px-3"><a class="nav-link text-danger fw-bold hover-white" th:href="@{/carrito/carrito}">Carrito</a></li>
                            <li class="nav-item px-3"><a class="nav-link text-danger fw-bold hover-white" th:href="@{/ofertas/ofertas}">Ofertas</a></li>
                            <li class="nav-item px-3"><a class="nav-link text-danger fw-bold hover-white" th:href="@{/sobreNosotros/sobre-nosotros}">Sobre Nosotros</a></li>
                        </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger fw-bold" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    [[#{plantilla.idioma}]]
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item text-danger fw-bold hover-white" th:href="@{/(lang=es)}">Español</a></li>
                                    <li><a class="dropdown-item text-danger fw-bold hover-white" th:href="@{/(lang=en)}">English</a></li>                  
                                </ul>
                            </li>
                        </ul>

                        <div id="resultBlock"></div>
                    </div>
                </div>
            </nav>
        </header>


        <footer th:fragment="footer" class="p-4 mt-5 bg-dark text-white text-center"> 
            <h3>Contáctenos</h3>
            <p>Síguenos en nuestras redes sociales:</p>

            <div class="social-icons d-flex justify-content-center gap-3">
                <a href="https://www.facebook.com" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://twitter.com" target="_blank" title="Twitter">
                    <i class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" title="Instagram">
                    <i class="fab fa-instagram-square fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank" title="LinkedIn">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>

            <p class="text-center mt-3">&copy; [[#{plantilla.derechos}]]</p>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
        </footer>


    </body>

</html>
