<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Distribuidora Hikisa</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{productos/fragmentos :: btnAgregar}"/>
        <section th:replace="~{productos/fragmentos :: agregarProducto}"/> 
        <section th:replace="~{productos/fragmentos :: listado}"/>


        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>