<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Techshop</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>
        <!-- 1 Sección para mostrar las categorias en tabs -->
        <section th:fragment="tabs" class="p-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/tienda/listado">[[#{pruebas.todas}]]</a>
                </li>
                <li th:each="c : ${categorias}"
                    class="nav-item">
                    <a class="nav-link" 
                       th:href="@{/tienda/listado/}+${c.idCategoria}">
                        [[${c.descripcion}]]</a>
                </li>

            </ul>
        </section>
        <section th:fragment="tarjetas">
            <div class="row row-cols-4">
                <div class="card p-2" th:each="p : ${productos}">
                    <figure>
                        <img th:src="${p.rutaImagen}" 
                             height="200"
                             class="card-img-top" 
                             alt="..."/>
                        <figcaption class="d-flex justify-content-between">
                            <span>¢[[${p.precio}]]</span>
                            <span>[[${p.existencias}]]</span>
                            <form>
                                <input type="hidden" 
                                       name="ïdProducto" 
                                       th:value="${p.idProducto}"/>
                                
                                 <input type="hidden" 
                                       name="existencias" 
                                       th:value="${p.existencias}"/>
                                 
                                 <button type="button"
                                         onclick="addCart(this.form);"
                                         class="btn btn-light">                                     
                                     <i class="fas fa-cart-arrow-down"></i>
                                 </button>
                                
                            </form>                            
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4>[[${p.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">[[${p.detalle}]]</p>

                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
