<!-- src/main/resources/templates/ofertas/ofertas.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Ofertas</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section class="text-center py-3">
            <h1 class="fw-bold text-dark display-4 position-relative d-inline-block">
                Ofertas
                <span class="d-block mx-auto mt-2" style="width: 80px; height: 4px; background-color: #FF0000;"></span>
            </h1>
        </section>

        <h1 th:text="${ofertas != null && #lists.size(ofertas) > 0 ? #lists.size(ofertas) + ' ofertas encontradas' : 'No hay ofertas disponibles'}">Cargando...</h1>


        <section class="container py-5" th:replace="~{ofertas/fragmentos :: listado}"></section>

        <section th:replace="~{layout/plantilla :: footer}"></section>
    </body>
</html>
